* {
  font-family: "Kanit", sans-serif !important;
  -ms-overflow-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}
